html {
    background-image: url("../img/graphOcean.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow-y: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url("/img/graphOcean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}
.container {
    /* width: 90%; */
    min-width: auto;
    margin: auto;
    /* margin: 0px 15px; */

    max-width: 1570px;
}

header {
    background: black;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: white 3px solid;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 5px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #title-author {
    float: left;
    padding-left: 15px;
}

header #title-author h1 {
    margin: 0;
}
/* #title-author:hover {
    animation-name: effect-brand;
    animation-duration: 2s;
}

@keyframes effect-brand {
    0% {
        color: #00feca;
    }
    25% {
        color: #fdf200 
    }
    50% {
        color: #ff85ea;
    }
    75% {
        color: #7b61f8;
    }
    100% {
        color: #00feca;;
    }
} */

header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    background-color: white;
    color: black;
    border-radius: 12px;
    /* border-bottom: white 5px solid; */
}

:root {
    --body-color: white;
    --body-color-faded-3-1: linear-gradient(white, white, white, rgba(255, 255, 255, 0.8));
    --body-color-faded-1-1: linear-gradient(white, rgba(255, 255, 255, 0.8));
    --body-color-faded: rgba(255, 255, 255, 0.8);
    --body-color-sat: whitesmoke;
    --overlay-color: white;
    --text-color: black;
    --white-black: white;
    --black-white: black;
}

.dark-theme {
    --body-color: grey;
    --body-color-faded-3-1: #22303c;
    --body-color-faded-1-1: #22303c;
    --body-color-faded: #22303c;
    --body-color-sat: #192734;
    --overlay-color: lightsteelblue;
    --text-color: white;
    --white-black: black;
    --black-white: white; 
}

.main {
    margin: 15px auto;
    max-width: 1600px;
}

#poster {
    /* color: black; */
    color: var(--text-color);
    text-align: center;
    /* background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.75)); */
    /* background: linear-gradient(white, white, white, rgba(255, 255, 255, 0.8)); */
    background: var(--body-color-faded-3-1);
    border-radius: 24px;
    margin: 15px;
    padding: 15px;
    min-height: 200px;
}

.themes {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.theme-switch {
    color: var(--text-color);
    text-align: center;
    width: 160px;
    height: 40px;
    border: 5px solid;
    border-color: var(--text-color);
    border-radius: 24px;
    line-height: 40px;
}

#poster h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#links {

    /* color: black; */
    color: var(--text-color);
    text-align: center;
    /* background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.50)); */
    /* background: linear-gradient(white, rgba(255, 255, 255, 0.8)); */
    background: var(--body-color-faded-1-1);
    border-radius: 24px;
    margin: 10px;
    padding: 10px;
    min-height: 80px;

    display: flex;
    align-content: center;
    justify-content: center;
    
}

.btn {
    display: inline-block;
    width: 70px;
    height: 67px;
    background-color: #f1f1f1;
    margin: 10px;
    border: 5px solid #3498db;
    border-radius: 12px;
    /* box-shadow: 0px 5px 15px 5px #00000070; */
    color: #3498db;
    overflow: hidden;
    padding-top: 4px;
    /* line-height: 80px; */
}

.bth i {
    font-size: 25px;
}

.btn:hover i {
    /* transform: scale(1.5); */
    color: #f1f1f1;
    transition: 0.15s linear;  
}

.btn:hover {
    background:  #3498db;
    transition: .15s linear;
    -webkit-transition: .15s linear;
    -moz-transition: .15s linear;
    -o-transition: .15s linear;
}

.flex-container {
    background-color: palevioletred;
    height: 300px;
}

.projects-list:hover {
    background: none;
}

.projects-list:hover .flex-container-item {
    background: none;
}


#projects-block {
    /* color: black; */
    color: var(--text-color);
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    height: auto;
    padding-bottom: 10px;
    /* background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.75)); */
    /* background: linear-gradient(white, rgba(255, 255, 255, 0.60), rgba(255, 255, 255, 0.30)); */
    /* background: linear-gradient(white, rgba(255, 255, 255, 0.8)); */
    background: var(--body-color-faded-1-1);
    border-radius: 24px;
    margin: 15px;
    min-height: 200px;
}

.projects-list {
    /* background: palevioletred; */
    height: auto;
    width: auto;
    margin: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.flex-container-item {
    /* background: white; */
    /* background-color: rgba(255, 255, 255, 0.0); */
    text-align: center;
    align-items: stretch;
    height: 300px;
    margin: 5px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.flex-container-item-picture {
    /* background: url("/img/graphOcean.jpg");  */
    background: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--body-color-faded);
    text-align: center;
    border-style: solid;
    border-color: var(--text-color);
    border-width: 3px 0px 3px 3px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    width: 100px;
    margin: 0px;

    flex-grow: 1;
}

.image-play {
    margin-top: 80px;
}

.hidden-message {
    color: black;
    text-align: center;
    /* line-height: 150px;
    color: black;
    font-size: 25px;
    text-align: center;
    opacity: 0;
    transition: 0.15s ease; */
    /* tansition: 0.15 ease;
    opacity: 0;
    text-align: center; */
}

.flex-container-item-picture:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
       -moz-transition: 0.15s linear;
         -o-transition: 0.15s linear;
}

.project-thumbnail-overlay {
    transition: .15 ease;
    /* -webkit-transition: 0.15s ease;
       -moz-transition: 0.15s ease;
         -o-transition: 0.15s ease; */
    /* background: white; */
    background: var(--overlay-color);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-item-picture:hover .project-thumbnail-overlay {
    opacity: 0.75;
    height: 100%;
    width: 100%;
}

/* .flex-container-item-picture:hover img {
    border-radius: 12px;
} */

.flex-container-item-picture:hover .hidden-message {
    opacity: 1;
}

.flex-container-item-picture:hover .image-play {
    opacity: 0;
}

.flex-container-item-picture > img {
    width:  100%;
    height: 200px;
    opacity: 1;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;    
}

.flex-container-item-info {
    /* background: whitesmoke; */
    background: var(--body-color-sat);
    border-style: solid;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0px 5px 0px 15px;

    width: 100px;
    /* height: 100px; */
    line-height: 20px;
    margin: 0px;
    /* max-height: 100px; */

    flex-grow: 6;
    text-align: left;
}

.grid-project-info {
    /* background: palegreen; */
    /* border-style: solid; */
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
    height: 100%;

    display: grid;
    align-content: space-between;
    
    line-height: 20px;
}

.flex-container-item-info-title {
    font-weight: bold;
    line-height: 1px;
}

.grid-project-info-header {
    line-height: 1px;
}

.grid-project-info-description {
    height: 145px;
    max-height: 150px;
}

.grid-project-info-footer {
    margin: 10px 0px;
}

.info-subinfo {
    font-size: 18px;
    /* font-style: italic; */
    line-height: 1px;
}

.info-description {
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
}

.info-direction {
    font-size: 16px;
    line-height: 1px;
}

.project-links-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #f1f1f1;
    margin: auto;
    width: 15%;
    min-width: 40px;
    border-radius: 6px;
    color: #3498db;
    overflow: hidden;
    line-height: 45px;
    border-color: #3498db;
    border-style: solid;
    text-decoration: none;
}

.project-links-btn i {
    font-size: 30px;
}

.project-links-btn:hover i {
    color: #f1f1f1;
    transition: .15s linear;
    -webkit-transition: .15s linear;
       -moz-transition: .15s linear;
         -o-transition: .15s linear;
}

.project-links-btn:hover {
    background: #3498db;
    color: #f1f1f1;
    transition:.15s linear;
    -webkit-transition: .15s linear;
       -moz-transition: .15s linear;
         -o-transition: .15s linear;
}

/* Media Queries */

@media(max-width: 1200px) {
    header #title-author,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    header nav {
        margin-bottom: 30px;
    }

    header li {
        height: 40px;
        padding: 0px 20px;
    }
}

@media(max-width: 700px) {
    header li {
        display: block;
        margin: 5px;
        padding: 0px;
    }

    #poster {
        margin: 15px 5px;
    }

    #links {
        margin: 15px 5px;
    }

    #projects-block {
        margin: 0px;
        height: auto;
    }

    .projects-list {
        margin: 0px;

        justify-content: space-between;
    }

    .flex-container-item {
        flex-direction: column;
        height: 500px;

    }

    .flex-container-item-picture {
        height: 50%;
        width: auto;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
        flex-grow: 6;

        border-style: solid;
        border-color: var(--text-color);
        border-width: 3px 3px 0px 3px;
    }

    .image-play {
        margin-top: 50px;
    }

    .flex-container-item-info {
        height: 50%;
        width: auto;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0px;

        
    }

    .flex-container-item-info-title {
        font-size: large;
    }

    .grid-project-info-description {
        height: 100px;
        max-height: 150px;
    }

    .info-subinfo {
        font-size: smaller;
    }

    .info-description {
        font-size: small;
    }

    .flex-container-item-picture:hover {
        transform: scale(1);
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
        border-width: 3px;
        border-bottom: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .flex-container-item-picture:hover .project-thumbnail-overlay {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

}



